{% extends "AppBundle::layout.html.twig" %}

{%use "AppBundle:gentelella:g_datatable.html.twig"%}
{%block include_css%}
    {{parent()}}
    <!-- TreeView -->
    <link href="{{ asset('assets/vendors/jquery.fancytree/dist/skin-win8/ui.fancytree.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .ui-menu {
            //width: 180px;
            //font-size: 63%;
            background-color: rgb(231, 231, 231);
        }
        .ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
            float: right;
        }
        /* custom alignment (set by 'renderColumns'' event) */
        td.alignRight {
            text-align: right;
        }
        td.alignCenter {
            text-align: center;
        }
        td input[type=input] {
            width: 40px;
        }
        li {cursor: pointer}
        #article-table tbody{cursor: pointer}
    </style>

{%endblock%}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Baza Wiedzy</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Drzewo kategorii</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="tree"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Artykuły
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Dodaj artykuł</button>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id='article-table' class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tytuł</th>
                                        <th>Data aktualizacji</th>
                                        <th>Kto aktualizował</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                        <div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel"><div id="article-title"></div></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Opis
                                                    <button type="button" class="btn btn-primary" id="btn-deleteArticle">Usuń artykuł</button>
                                                </h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <form id="antoform" class="form-horizontal calender" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Nazwa:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="title" name="title">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" style="padding-top:2px;" >Opis:</label>
                                                        <div class=" col-md-9 col-sm-9 col-xs-12" >
                                                            <textarea id="description" class="form-control" rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Pliki</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <form action="" class="dropzone">
                                                    <table id='article-files' class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Nazwa</th>
                                                                <th>Akcje</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Historia zmian</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <table id="article-logs" class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Data aktualizacji</th>
                                                            <th>Kto aktualizował</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Zamknij</button>
                                        <button type="button" class="btn btn-primary" id="btn-save">Zapisz zmiany</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel2">Nowy artykuł</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Wpisz nazwę</h4>
                                        <form  class="form-horizontal calender" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nazwa:</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="AddTitle" name="title">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="btn-AddArticle">Dodaj</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div id="article_view" data-toggle="modal" data-target="#modal"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%block include_js%}
    {{parent()}}
    <!-- TreeView -->
    <!--<script charset="utf8" src="{#{ asset('assets/vendors/jquery.fancytree/dist/jquery.fancytree-all-deps.js') }#}"></script>-->
    <script src="{{ asset('assets/vendors/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.dnd.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.edit.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.gridnav.js')}}"></script>
    <script src="{#{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.table.js')}#}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.filter.js')}}"></script>
    <script src="//cdn.jsdelivr.net/npm/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>
    <!-- Dropzone.js -->
    <script src="{{ asset('assets/vendors/dropzone/dist/min/dropzone.min.js') }}"></script>



    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{%endblock%}
{%block inline_js%}
    {#{parent()}#}
    <script>

    </script>
    <script type="text/javascript">
        var CLIPBOARD = null;
        $(function () {  // on page load
            // Create the tree inside the <div id="tree"> element.
            var KEY = 1;
            var ARTICLE_KEY = false;

            // init,configure dropzone

            var table = $('#article-table').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": 0}
                ],
                searching: false,
                "ajax": {
                    url: Routing.generate('bw_getArticles'),
                    type: 'POST',
                    data: function (d) {
                        d.node = KEY;
                    },
                },
                'columns': [
                    {'data': 'id'},
                    {'data': 'tytul'},
                    {'data': 'dataAktualizacji'},
                    {'data': 'ktoAktualizowal'},
                ],
                pageLength: 25,
                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Nie znaleziono danych",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });

            var table_logs = $('#article-logs').DataTable({
                /*"columnDefs": [
                 {"visible": false, "targets": 0}
                 ],*/
                searching: false,
                "ajax": {
                    url: Routing.generate('bw_getArticlesLogs'),
                    type: 'POST',
                    data: function (d) {
                        d.idArticle = ARTICLE_KEY;
                    },
                },
                'columns': [

                    {'data': 'dataAktualizacji'},
                    {'data': 'ktoAktualizowal'}

                ],
                "bLengthChange": false,
                "bPaginate": false,
                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Nie znaleziono danych",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });

            var table_files = $('#article-files').DataTable({
                /*"columnDefs": [
                 {"visible": false, "targets": 0}
                 ],*/
                searching: false,
                "ajax": {
                    url: Routing.generate('bw_getArticleFiles'),
                    type: 'POST',
                    data: function (d) {
                        d.idArticle = ARTICLE_KEY;
                    },
                },
                'columns': [
                    {'data': 'tytul'},
                    {'data': 'akcje'},
                ],
                "bLengthChange": false,
                "bPaginate": false,
                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Brak plików",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });
            $('#article-table tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if (data) {
                    $('#article_view').click();
                    $('#article-title').html(data.tytul);
                    $.ajax({
                        url: Routing.generate('bw_getArticleContent'),
                        type: 'POST',
                        data: {
                            'idArticle': data.id,
                        },
                        success: function (result) {
                            $('#title').val(result.tytul);
                            $('#description').val(result.opis);
                        },
                    });
                    ARTICLE_KEY = data.id;
                    table_logs.ajax.reload();
                    table_files.ajax.reload();
                }
            });
            $('#btn-AddArticle').on('click', function () {
                $.ajax({
                    url: Routing.generate('bw_addArticle'),
                    type: 'POST',
                    data: {
                        'node': KEY,
                        'tytul': $('#AddTitle').val(),
                    },
                    success: function (result) {
                        //$('#title').val(result.tytul);
                        //$('#description').val(result.opis);
                        table.ajax.reload();
                        $('.antoclose').click();
                        $('#AddTitle').val('');
                        new PNotify({
                            title: 'Sukces',
                            text: 'Dodano pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                    },
                })
            });
            $('#btn-save').on('click', function () {
                $.ajax({
                    url: Routing.generate('bw_updateArticleContent'),
                    type: 'POST',
                    data: {
                        'idArticle': ARTICLE_KEY,
                        'tytul': $('#title').val(),
                        'opis': $('#description').val()
                    },
                    success: function (result) {
                        //$('#title').val(result.tytul);
                        //$('#description').val(result.opis);
                        table.ajax.reload();
                        table_logs.ajax.reload();
                        $('#article-title').html($('#title').val());
                        new PNotify({
                            title: 'Sukces',
                            text: 'Edytowano pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                    },
                })
            });
            $('#article-files').on("click", "button", function () {
                var item = $(this).parents('tr');
                //table_files.row($(this).parents('tr')).remove().draw(false);
                $.ajax({
                    url: Routing.generate('bw_deleteFile'),
                    type: 'POST',
                    data: {
                        'idFile': $(this).parent().context.id
                    },
                    success: function (result) {
                        table_files.row(item).remove().draw(false);
                        new PNotify({
                            title: 'Sukces',
                            text: 'Usunięto pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3',
                        });
                        table_logs.ajax.reload();
                    },
                });
                //console.log($(this).parent().context.id);

            });
            $('#btn-deleteArticle').on('click', function () {
                $.ajax({
                    url: Routing.generate('bw_deleteArticle'),
                    type: 'POST',
                    data: {
                        'idArticle': ARTICLE_KEY,
                    },
                    success: function (result) {
                        new PNotify({
                            title: 'Sukces',
                            text: 'Usunięto pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        table.ajax.reload();
                        $('.antoclose2').click();
                    },
                })
            });
            Dropzone.autoDiscover = false;
            Dropzone.prototype.defaultOptions.dictDefaultMessage = "Przeciągnij, aby dodać pliki";
            var dropzone_default = new Dropzone(".dropzone", {
                url: Routing.generate('bw_uploadFile'),
                /*maxFiles: 1,
                 dictMaxFilesExceeded: 'Only 1 Image can be uploaded',
                 acceptedFiles: 'image',*/
                maxFilesize: 5, // in Mb
                /*addRemoveLinks: true,*/
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        this.removeFile(file);
                    });
                    this.on("sending", function (file, xhr, formData) {
                        // send additional data with the file as POST data if needed.
                        formData.append("idArtykul", ARTICLE_KEY);
                    });
                    this.on("success", function (file, response) {
                        this.removeFile(file);
                        table_files.ajax.reload();
                        table_logs.ajax.reload();
                    });
                }
            });

            $("#tree").fancytree({
                extensions: ["edit", "filter", "dnd"],
                dnd: {
                    preventVoidMoves: true,
                    preventRecursiveMoves: true,
                    autoExpandMS: 400,
                    dragStart: function (node, data) {
                        return true;
                    },
                    dragEnter: function (node, data) {
                        // return ["before", "after"];
                        return true;
                    },
                    dragDrop: function (node, data) {
                        data.otherNode.moveTo(node, data.hitMode);
                    },
                    dragStop: function (node, data) {
                        $.ajax({
                            url: Routing.generate('bw_updateTree'),
                            type: 'POST',
                            data: {destination: node.parent.key, node: node.key},
                        });
                    }

                },
                edit: {
                    triggerStart: ["f2", "shift+click", "mac+enter"],
                    save: function (event, data) {

                        if (data.isNew) {
                            $.ajax({
                                url: Routing.generate('bw_addNode'),
                                type: 'POST',
                                data: {node: data.node.parent.key, nazwa: data.input.val()},
                            }).done(function (result) {

                                data.node.setTitle(data.node.title);
                                data.node.key = result.id; // in case server modified it

                            });
                        } else {
                            $.ajax({
                                url: Routing.generate('bw_updateNode'),
                                type: 'POST',
                                data: {node: data.node.key, nazwa: data.input.val()},
                            }).done(function (result) {
                                data.node.setTitle(data.input.val()); // in case server modified it
                            });
                        }
                    },
                    close: function (event, data) {
                        if (data.save && data.isNew) {
                            $("#tree").trigger("nodeCommand", {cmd: "addSibling"});
                        }
                    }
                },
                source:
                        {
                            url: Routing.generate('bw_getTree'),
                            cache: false
                        },
                lazyLoad: function (event, data) {
                    var node = data.node;
                    // Load child nodes via Ajax GET /getTreeData?mode=children&parent=1234
                    data.result = {
                        type: 'POST',
                        url: Routing.generate('bw_getTree', {idParent: node.key.toString()}),
                        data: {mode: "children", parent: node.key},
                        cache: false
                    };
                    // Note: Loading and initialization may be asynchronous, so the nodes may not be accessible yet.
                },
                table: {
                    indentation: 20,
                    nodeColumnIdx: 2,
                    checkboxColumnIdx: 0
                },
                gridnav: {
                    autofocusInput: false,
                    handleCursorKeys: true
                },
                createNode: function (event, data) {
                    var node = data.node,
                            $tdList = $(node.tr).find(">td");
                    // Span the remaining columns if it's a folder.
                    // We can do this in createNode instead of renderColumns, because
                    // the `isFolder` status is unlikely to change later
                    if (node.isFolder()) {
                        $tdList.eq(2)
                                .prop("colspan", 6)
                                .nextAll().remove();
                    }
                },
                renderColumns: function (event, data) {
                    var node = data.node,
                            $tdList = $(node.tr).find(">td");
                    // (Index #0 is rendered by fancytree by adding the checkbox)
                    // Set column #1 info from node data:
                    $tdList.eq(1).text(node.getIndexHier());
                    // (Index #2 is rendered by fancytree)
                    // Set column #3 info from node data:
                    $tdList.eq(3).find("input").val(node.key);
                    $tdList.eq(4).find("input").val(node.data.foo);
                    // Static markup (more efficiently defined as html row template):
                    // $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
                    // ...
                },
                click: function (e, data) {
                    KEY = data.node.key;
                    table.ajax.reload();
                },
            }).on("nodeCommand", function (event, data) {
                // Custom event handler that is triggered by keydown-handler and
                // context menu:
                var refNode, moveMode,
                        tree = $(this).fancytree("getTree"),
                        node = tree.getActiveNode();
                switch (data.cmd) {
                    case "moveUp":
                        refNode = node.getPrevSibling();
                        if (refNode) {
                            node.moveTo(refNode, "before");
                            node.setActive();
                        }
                        break;
                    case "moveDown":
                        refNode = node.getNextSibling();
                        if (refNode) {
                            node.moveTo(refNode, "after");
                            node.setActive();
                        }
                        break;
                    case "indent":
                        refNode = node.getPrevSibling();
                        if (refNode) {
                            node.moveTo(refNode, "child");
                            refNode.setExpanded();
                            node.setActive();
                        }
                        break;
                    case "outdent":
                        if (!node.isTopLevel()) {
                            node.moveTo(node.getParent(), "after");
                            node.setActive();
                        }
                        break;
                    case "rename":
                        node.editStart();
                        break;
                    case "remove":
                        refNode = node.getNextSibling() || node.getPrevSibling() || node.getParent();
                        console.log(node);
                        $.ajax({
                            url: Routing.generate('bw_removeNode'),
                            type: 'POST',
                            data: {node: node.key},
                        });
                        node.remove();
                        if (refNode) {
                            refNode.setActive();
                        }
                        break;
                    case "addChild":
                        node.editCreateNode("child", "");
                        break;
                    case "addSibling":
                        node.editCreateNode("after", "");
                        break;
                    case "cut":
                        CLIPBOARD = {mode: data.cmd, data: node};
                        break;
                    case "copy":
                        CLIPBOARD = {
                            mode: data.cmd,
                            data: node.toDict(function (n) {
                                delete n.key;
                            })
                        };
                        break;
                    case "clear":
                        CLIPBOARD = null;
                        break;
                    case "paste":
                        if (CLIPBOARD.mode === "cut") {
                            // refNode = node.getPrevSibling();
                            CLIPBOARD.data.moveTo(node, "child");
                            CLIPBOARD.data.setActive();
                        } else if (CLIPBOARD.mode === "copy") {
                            node.addChildren(CLIPBOARD.data).setActive();
                        }
                        break;
                    default:
                        alert("Unhandled command: " + data.cmd);
                        return;
                }

                // }).on("click dblclick", function(e){
                //   console.log( e, $.ui.fancytree.eventToString(e) );

            }).on("keydown", function (e) {
                var cmd = null;
                // console.log(e.type, $.ui.fancytree.eventToString(e));
                switch ($.ui.fancytree.eventToString(e)) {
                    case "ctrl+shift+n":
                    case "meta+shift+n": // mac: cmd+shift+n
                        cmd = "addChild";
                        break;
                    case "ctrl+c":
                    case "meta+c": // mac
                        cmd = "copy";
                        break;
                    case "ctrl+v":
                    case "meta+v": // mac
                        cmd = "paste";
                        break;
                    case "ctrl+x":
                    case "meta+x": // mac
                        cmd = "cut";
                        break;
                    case "ctrl+n":
                    case "meta+n": // mac
                        cmd = "addSibling";
                        break;
                    case "del":
                    case "meta+backspace": // mac
                        cmd = "remove";
                        break;
                        // case "f2":  // already triggered by ext-edit pluging
                        //   cmd = "rename";
                        //   break;
                    case "ctrl+up":
                        cmd = "moveUp";
                        break;
                    case "ctrl+down":
                        cmd = "moveDown";
                        break;
                    case "ctrl+right":
                    case "ctrl+shift+right": // mac
                        cmd = "indent";
                        break;
                    case "ctrl+left":
                    case "ctrl+shift+left": // mac
                        cmd = "outdent";
                }
                if (cmd) {
                    $(this).trigger("nodeCommand", {cmd: cmd});
                    // e.preventDefault();
                    // e.stopPropagation();
                    return false;
                }

            });
            $("#tree").contextmenu({
                delegate: "span.fancytree-node",
                menu: [
                    {title: "Edytuj <kbd>[F2]</kbd>", cmd: "rename", uiIcon: "ui-icon-pencil"},
                    {title: "Usuń <kbd>[Del]</kbd>", cmd: "remove", uiIcon: "ui-icon-trash"},
                    {title: "----"},
                    {title: "Nowy bliźniak <kbd>[Ctrl+N]</kbd>", cmd: "addSibling", uiIcon: "ui-icon-plus"},
                    {title: "Nowe dziecko <kbd>[Ctrl+Shift+N]</kbd>", cmd: "addChild", uiIcon: "ui-icon-arrowreturn-1-e"},
                    {title: "----"},
                    {title: "Wytnij <kbd>Ctrl+X</kbd>", cmd: "cut", uiIcon: "ui-icon-scissors"},
                    {title: "Kopiuj <kbd>Ctrl-C</kbd>", cmd: "copy", uiIcon: "ui-icon-copy"},
                    {title: "Wklej jako dziecko<kbd>Ctrl+V</kbd>", cmd: "paste", uiIcon: "ui-icon-clipboard", disabled: true}
                ],
                beforeOpen: function (event, ui) {
                    var node = $.ui.fancytree.getNode(ui.target);
                    $("#tree").contextmenu("enableEntry", "paste", !!CLIPBOARD);
                    node.setActive();
                },
                select: function (event, ui) {
                    var that = this;
                    // delay the event, so the menu can close and the click event does
                    // not interfere with the edit control
                    setTimeout(function () {
                        $(that).trigger("nodeCommand", {cmd: ui.cmd});
                    }, 100);
                }
            });
        }
        );
    </script>
{%endblock%}

