{% extends "AppBundle::layout.html.twig" %}

{%use "AppBundle:gentelella:g_datatable.html.twig"%}
{%block include_css%}
    {{parent()}}
    <!-- Select2 -->
    <link href="{{ asset('assets/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- TreeView -->
    <style type="text/css">

        #group-table tbody{cursor: pointer}
    </style>

{%endblock%}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Grupy dostępowe</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Grupy
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGroup-modal">Dodaj grupę</button>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id='group-table' class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Użytkownicy: <div id="idGrupa"></div><br>
                                <button type="button" id="btn-addMember" class="btn btn-primary" data-toggle="modal" data-target="#addMember">Dodaj użytkowników</button>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id='user-table' class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Imię i Nazwisko</th>
                                        <th>Administrator</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                        <div  id="addGroup-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel2">Nowa grupa</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Wpisz nazwę</h4>
                                        <form  class="form-horizontal calender" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nazwa:</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="AddGroup" name="name">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="btn-AddGroup">Dodaj</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div id="addMember" class="modal fade bs-example-modal-sm" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel2">Dodaj członków</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Wpisz nazwę</h4>
                                        <form id="antoform" class="form-horizontal calender" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nazwa:</label>
                                                <div class="col-sm-12">
                                                    <select class="select2_single form-control" tabindex="-1">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label col-sm-3" style="padding-top:2px;" >Administrator</label>
                                                <div class="col-sm-12">
                                                    <input type="radio" class="flat" name="admin" value="1" id="admin1" /><label for="admin1"> TAK </label>
                                                    <input type="radio" class="flat" name="admin" value="0" id="admin0"/> <label for="admin0"> NIE </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="btn-AddMemberSave">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="article_view" data-toggle="modal" data-target="#modal"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%block include_js%}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- Select2 -->
    <script src="{{ asset('assets/vendors/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
{%endblock%}
{%block inline_js%}
    {#{parent()}#}
    <script>

    </script>
    <script type="text/javascript">
        var CLIPBOARD = null;
        var GROUP_KEY = false;

        $(function () {  // on page load
            // Create the tree inside the <div id="tree"> element.

            var ARTICLE_KEY = false;
            // init,configure dropzone
            var table = $('#group-table').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": 0}
                ],
                searching: false,
                "ajax": {
                    url: Routing.generate('bw_getGroups'),
                    type: 'POST',
                },
                'columns': [
                    {'data': 'id'},
                    {'data': 'nazwa'},
                    {'data': 'akcje'},
                ],
                pageLength: 25,
                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Nie znaleziono danych",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });

            var table_users = $('#user-table').DataTable({

                searching: false,
                "ajax": {
                    url: Routing.generate('bw_getUsersGroup'),
                    type: 'POST',
                    data: function (d) {
                        d.idGroup = GROUP_KEY;
                    },
                },
                'columns': [

                    {'data': 'imieNazwisko'},
                    {'data': 'admin'},
                    {'data': 'akcje'}

                ],

                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Nie znaleziono danych",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });

            $('#group-table tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if (data) {
                    //$('#article_view').click();
                    $('#idGrupa').html(data.nazwa);
                    GROUP_KEY = data.id;
                    table_users.ajax.reload();
                }
            });

            $(".select2_single").select2({
                placeholder: "Proszę wybrać",
                allowClear: true,
                width: '100%',

            });

            $(".select2_single").each(function () {
                $(this).val($(this).attr('val')).trigger("change");
            });

            $('#btn-AddGroup').on('click', function () {
                $.ajax({
                    url: Routing.generate('bw_addGroup'),
                    type: 'POST',
                    data: {
                        'nazwa': $('#AddGroup').val(),
                    },
                    success: function (result) {
                        //$('#title').val(result.tytul);
                        //$('#description').val(result.opis);
                        table.ajax.reload();
                        $('.antoclose').click();
                        $('#AddGroup').val('');
                        new PNotify({
                            title: 'Sukces',
                            text: 'Dodano pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                    },
                })
            });

            $('#btn-addMember').on('click', function () {
                if (GROUP_KEY) {
                    $.ajax({
                        url: Routing.generate('bw_getNotMemberGroup'),
                        type: 'POST',
                        data: {
                            idGroup: GROUP_KEY
                        },
                        success: function (result) {
                            $(".select2_single").empty();
                            $(".select2_single").select2(
                                    {
                                        data: result
                                    })
                        },
                    })
                } else {
                    $(".select2_single").empty();
                }
            });
            $('#btn-AddMemberSave').on('click', function () {
                $.ajax({
                    url: Routing.generate('bw_addMemberGroup'),
                    type: 'POST',
                    data: {
                        idGroup: GROUP_KEY,
                        idUser: $('.select2_single').find(':selected')[0].attributes.value.nodeValue,
                        isAdmin: $('input[name=admin]:checked', '#antoform').val(),
                    },
                    success: function (result) {
                        table_users.ajax.reload();
                        $('.antoclose').click();
                        //$('#AddGroup').val('');
                        new PNotify({
                            title: 'Sukces',
                            text: 'Dodano pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        var str = '#admin' + $('input[name=admin]:checked', '#antoform').val();
                        $(str).iCheck('uncheck');
                    },
                })
            });

            table.on("click", "button", function () {
                var item = $(this).parents('tr');
                $.ajax({
                    url: Routing.generate('bw_removeGroup'),
                    type: 'POST',
                    data: {
                        'idGroup': $(this).parent().context.id
                    },
                    success: function (result) {
                        table.row(item).remove().draw(false);
                        new PNotify({
                            title: 'Sukces',
                            text: 'Usunięto pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3',
                        });
                        GROUP_KEY = false;
                        table_users.ajax.reload();

                    },
                });
            });

            table_users.on("click", "button", function () {
                var item = $(this).parents('tr');
                console.log($(this).parent().context.id);
                $.ajax({
                    url: Routing.generate('bw_removeMemberGroup'),
                    type: 'POST',
                    data: {
                        'idUser': $(this).parent().context.id,
                        'idGroup': GROUP_KEY
                    },
                    success: function (result) {
                        table_users.row(item).remove().draw(false);
                        new PNotify({
                            title: 'Sukces',
                            text: 'Usunięto pomyślnie',
                            type: 'success',
                            styling: 'bootstrap3',
                        });
                        table_users.ajax.reload();
                    },
                });
            });
            /*$('#btn-deleteArticle').on('click', function () {
             $.ajax({
             url: Routing.generate('bw_deleteArticle'),
             type: 'POST',
             data: {
             'idArticle': ARTICLE_KEY,
             },
             success: function (result) {
             new PNotify({
             title: 'Sukces',
             text: 'Usunięto pomyślnie',
             type: 'success',
             styling: 'bootstrap3'
             });
             table.ajax.reload();
             $('.antoclose2').click();
             },
             })
             });*/
        }
        );
    </script>
{%endblock%}

