{% extends "AppBundle::layout.html.twig" %}

{%use "AppBundle:gentelella:g_datatable.html.twig"%}
{%block include_css%}
    {{parent()}}
    <!-- TreeView -->
    <link href="{{ asset('assets/vendors/jquery.fancytree/dist/skin-win8/ui.fancytree.min.css') }}" rel="stylesheet">
{%endblock%}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Dostępy</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><div id="nazwaGrupa"></div></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="tree"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><button type="button" class="btn btn-primary" id="btn-saveChanges">Zapisz zmiany</button>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id='group-table' class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for dane in entities%}
                                        <tr>
                                            <td>{{dane.id}}</td>
                                            <td>{{dane.nazwa}}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>

                        </div>
                        <div id="article_view" data-toggle="modal" data-target="#modal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%block include_js%}
    {{parent()}}
    <!-- TreeView -->
    <!--<script charset="utf8" src="{#{ asset('assets/vendors/jquery.fancytree/dist/jquery.fancytree-all-deps.js') }#}"></script>-->
    <script src="{{ asset('assets/vendors/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.dnd.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.edit.js')}}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.gridnav.js')}}"></script>
    <script src="{#{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.table.js')}#}"></script>
    <script src="{{ asset('assets/vendors/jquery.fancytree/dist/modules/jquery.fancytree.filter.js')}}"></script>
    <script src="//cdn.jsdelivr.net/npm/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>
    <!-- Dropzone.js -->
    <script src="{{ asset('assets/vendors/dropzone/dist/min/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{%endblock%}
{%block inline_js%}
    <script type="text/javascript">
        var CLIPBOARD = null;
        $(function () {  // on page load
            // Create the tree inside the <div id="tree"> element.
            var GROUP_KEY = false;
            var SELECTED_NODES = [];

            // init,configure dropzone

            var table = $('#group-table').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": 0}
                ],
                'columns': [

                    {'data': 'id'},
                    {'data': 'nazwa'},
                ],
                searching: false,
                pageLength: 25,
                visible: false,
                "language": {
                    "lengthMenu": "_MENU_ na stronę",
                    "zeroRecords": "Nie znaleziono danych",
                    "info": "_START_ do _END_ z _MAX_",
                    "infoEmpty": "Nie znaleziono danych",
                    "infoFiltered": "(_MAX_)",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Dalej",
                        "previous": "Wstecz"
                    }
                },
            });

            $('#group-table tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if (data) {
                    $('#nazwaGrupa').html(data.nazwa);
                    GROUP_KEY = data.id;
                    /*$.ajax({
                     url: Routing.generate('bw_getArticleContent'),
                     type: 'POST',
                     data: {
                     'idArticle': data.id,
                     },
                     success: function (result) {
                     $('#title').val(result.tytul);
                     $('#description').val(result.opis);
                     },
                     });*/
                    //ARTICLE_KEY = data.id;
                }
            });
            $('#btn-saveChanges').on('click', function () {

                var selKeys = $.map($('#tree').fancytree('getTree').getSelectedNodes(), function (node) {
                    return node.key;
                });
                if (GROUP_KEY) {
                    $.ajax({
                        url: Routing.generate('bw_updateUprawnieniaTree'),
                        type: 'POST',
                        data: {
                            'idNodes': selKeys,
                            'idGroup': GROUP_KEY
                        },
                    });
                }
                console.log(selKeys);
            });

            $("#tree").fancytree({
                checkbox: true,
                selectMode: 3,

                extensions: ["edit", "filter", "dnd"],

                source:
                        {
                            url: Routing.generate('bw_getUprawnieniaTree'),
                            cache: false
                        },
                table: {
                    indentation: 20,
                    nodeColumnIdx: 2,
                    checkboxColumnIdx: 0
                },
                gridnav: {
                    autofocusInput: false,
                    handleCursorKeys: true
                },
                renderColumns: function (event, data) {
                    var node = data.node,
                            $tdList = $(node.tr).find(">td");
                    // (Index #0 is rendered by fancytree by adding the checkbox)
                    // Set column #1 info from node data:
                    $tdList.eq(1).text(node.getIndexHier());
                    // (Index #2 is rendered by fancytree)
                    // Set column #3 info from node data:
                    $tdList.eq(3).find("input").val(node.key);
                    $tdList.eq(4).find("input").val(node.data.foo);
                    // Static markup (more efficiently defined as html row template):
                    // $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
                    // ...
                },
                /*click: function (e, data) {
                 KEY = data.node.key;
                 table.ajax.reload();
                 },*/
                loadChildren: function (event, data) {
                    // Apply parent's state to new child nodes:
                    data.node.fixSelection3AfterClick();
                },
                select: function (event, data) {
                    var selKeys = $.map(data.tree.getSelectedNodes(), function (node) {
                        return node.key;
                    });
                    console.log(selKeys);
                },
            }).on("nodeCommand", function (event, data) {
                // Custom event handler that is triggered by keydown-handler and
                // context menu:
                var refNode, moveMode,
                        tree = $(this).fancytree("getTree"),
                        node = tree.getActiveNode();
                switch (data.cmd) {
                    case "moveUp":
                        refNode = node.getPrevSibling();
                        if (refNode) {
                            node.moveTo(refNode, "before");
                            node.setActive();
                        }
                        break;
                    case "moveDown":
                        refNode = node.getNextSibling();
                        if (refNode) {
                            node.moveTo(refNode, "after");
                            node.setActive();
                        }
                        break;
                    case "indent":
                        refNode = node.getPrevSibling();
                        if (refNode) {
                            node.moveTo(refNode, "child");
                            refNode.setExpanded();
                            node.setActive();
                        }
                        break;
                    case "outdent":
                        if (!node.isTopLevel()) {
                            node.moveTo(node.getParent(), "after");
                            node.setActive();
                        }
                        break;
                    case "rename":
                        node.editStart();
                        break;
                    case "remove":
                        refNode = node.getNextSibling() || node.getPrevSibling() || node.getParent();
                        console.log(node);
                        $.ajax({
                            url: Routing.generate('bw_removeNode'),
                            type: 'POST',
                            data: {node: node.key},
                        });
                        node.remove();
                        if (refNode) {
                            refNode.setActive();
                        }
                        break;
                    case "addChild":
                        node.editCreateNode("child", "");
                        break;
                    case "addSibling":
                        node.editCreateNode("after", "");
                        break;
                    case "cut":
                        CLIPBOARD = {mode: data.cmd, data: node};
                        break;
                    case "copy":
                        CLIPBOARD = {
                            mode: data.cmd,
                            data: node.toDict(function (n) {
                                delete n.key;
                            })
                        };
                        break;
                    case "clear":
                        CLIPBOARD = null;
                        break;
                    case "paste":
                        if (CLIPBOARD.mode === "cut") {
                            // refNode = node.getPrevSibling();
                            CLIPBOARD.data.moveTo(node, "child");
                            CLIPBOARD.data.setActive();
                        } else if (CLIPBOARD.mode === "copy") {
                            node.addChildren(CLIPBOARD.data).setActive();
                        }
                        break;
                    default:
                        alert("Unhandled command: " + data.cmd);
                        return;
                }

                // }).on("click dblclick", function(e){
                //   console.log( e, $.ui.fancytree.eventToString(e) );

            }).on("keydown", function (e) {
                var cmd = null;
                // console.log(e.type, $.ui.fancytree.eventToString(e));
                switch ($.ui.fancytree.eventToString(e)) {
                    case "ctrl+shift+n":
                    case "meta+shift+n": // mac: cmd+shift+n
                        cmd = "addChild";
                        break;
                    case "ctrl+c":
                    case "meta+c": // mac
                        cmd = "copy";
                        break;
                    case "ctrl+v":
                    case "meta+v": // mac
                        cmd = "paste";
                        break;
                    case "ctrl+x":
                    case "meta+x": // mac
                        cmd = "cut";
                        break;
                    case "ctrl+n":
                    case "meta+n": // mac
                        cmd = "addSibling";
                        break;
                    case "del":
                    case "meta+backspace": // mac
                        cmd = "remove";
                        break;
                        // case "f2":  // already triggered by ext-edit pluging
                        //   cmd = "rename";
                        //   break;
                    case "ctrl+up":
                        cmd = "moveUp";
                        break;
                    case "ctrl+down":
                        cmd = "moveDown";
                        break;
                    case "ctrl+right":
                    case "ctrl+shift+right": // mac
                        cmd = "indent";
                        break;
                    case "ctrl+left":
                    case "ctrl+shift+left": // mac
                        cmd = "outdent";
                }
                if (cmd) {
                    $(this).trigger("nodeCommand", {cmd: cmd});
                    // e.preventDefault();
                    // e.stopPropagation();
                    return false;
                }

            });

        }
        );
    </script>
{%endblock%}